[submodule "vendor/iris"]
	path = vendor/iris
	url = https://github.com/DeanWilsonDev/iris.git
[submodule "vendor/penumbra"]
	path = vendor/penumbra
	url = https://github.com/DeanWilsonDev/penumbra-proto.git
[submodule "vendor/lustre"]
	path = vendor/lustre
	url = https://github.com/DeanWilsonDev/lustre.git
